body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #feffce;
}

.nom_tit {
    font-size: 90px;
    padding: 40px;
    background-color: rgb(224, 228, 0);
}

.nom_tit span {
    color: orange;
    font-style: italic;
}

.nom_tit a {
    padding: 30px;
    font-size: 30px;
    color: whitesmoke;
    font-style: normal;
}

.about_tit {
    font-size: 40px;
    margin-left: 7px;
}

.img_an {
    width: 15%;
}

.about_txt {
    margin-left: 350px;
    margin-top: -300px;
    font-size: 37px;
}

.frase_txt {
    font-style: italic;
    margin-left: 350px;
    font-size: 27px;
    font-weight: 300;
}

.proyectos_tit {
    font-size: 40px;
    margin-left: 7px;
    margin-top: 160px;
}

.sh_img {
    display: block;
    background-color: orange;
    border-radius: 20px;
}

.sh_img:hover {
    cursor: pointer;
}

.sh_img_txt {
    font-size: 20px;
}
