body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #ffffff;
  }
  
  header {
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #ffffff;
    text-decoration: none;
  }
  
  section {
    padding: 50px;
  }
  
  footer {
    background-color: #1e1e1e;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .button {
    display: inline-block;
    background-color: #8f1e3d;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  #inicio {
    background-image: url('inicio_bg.jpg');

    background-size: cover;
    background-position: center;
  }
  
  #descargar {
    background-image: url('descargar_bg.jpg');
    background-size: cover;
    background-position: center;
  }
  
  #sugerencias {
    background-image: url('sugerencias_bg.jpg');
    background-size: cover;
    background-position: center;
  }

