body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #feffce;
}

.nombre {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.proyectos {
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.proyectos_tit {
    font-size: 30px;
    margin-left: 7px;
}

.sh_img_bttn {
    display: block;
    background-color: orange;
    border-radius: 20px;
}

.sh_img_bttn:hover {
    cursor: pointer;
}

.sh_img {
    width: 250px;
    height: 200px;
}

.sh_img_txt {
    font-size: 20px;
}

.act_pr {
    display: block;
    justify-content: left;
}

.info {
    margin-left: 15px;
}

.subsub {
    font-size: 20px;
}

.alangt {
    margin-left: 15px;
}

.pp {
    width: 47px;
    height: 47px;
    margin-left: 10px;
}
