<div>
    <div class="footer">
        <p>¿Problemas? Contáctame: <a href="mailto:hello.triplean.dev@gmail.com" class="link">hello.triplean.dev@gmail.com</a></p>
        <p><a class="anlink" href="https://github.com/triplean/">Hecho con ❤️ por TripleAn</a></p>
        <p><a href="/privacy" class="link">Política de privacidad</a></p>
    </div>
    <style>
        .footer {
            color: #ffffff;
            text-align: center;
        }
        .anlink {
            color: orange;
            text-underline: orange;
        }
        .link {
            color: darkcyan;
            text-underline: darkcyan;
        }
    </style>
</div>