---
import '../../styles/sh.css';
import { Image } from 'astro:assets'
import logo from '../../imgs/sh_logo.svg';
import logo_img from "../../imgs/sh_logo.png";
import Footer from "../../components/sh_footer.astro";
---

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar Sugerencias - Security Helpy</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="/sh_logo.ico" type="image/x-icon">
</head>
<body>
<header>
    <div>
        <Image class="logo" src={logo_img} alt="" />
        <nav>
            <ul>
                <li><a href="/sh/">Inicio</a></li>
                <li><a href="/sh/descargar">Descargar</a></li>
                <li><a href="#">Sugerencias</a></li>
            </ul>
        </nav>
    </div>
</header>
<section>
    <h2>Enviar Sugerencias</h2>
    <p>¡Me encantaría escuchar tus sugerencias! Por favor, completa el siguiente formulario:</p>
    <form id="sugerenciaForm">
        <label for="nombre">Nombre/Usuario:</label>
        <input type="text" id="nombre" name="nombre" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <label class="sug_lbl" for="sugerencia">Sugerencia:</label>
        <textarea id="sugerencia" name="sugerencia" required></textarea>
        <br>
        <button type="submit">Enviar</button>
    </form>
    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.11.0/firebase-app.js";
        import { getFirestore, collection, addDoc } from "https://www.gstatic.com/firebasejs/10.11.0/firebase-firestore.js";

        const firebaseConfig = {
            apiKey: "AIzaSyB2G8p9xGYo4QgY7rVeHt8j_lgI545prk4",
            authDomain: "securityhelpy.firebaseapp.com",
            projectId: "securityhelpy",
            storageBucket: "securityhelpy.appspot.com",
            messagingSenderId: "",
            appId: "379942943583"
        };

        const app = initializeApp(firebaseConfig);
        const db = getFirestore(app);

        document.getElementById("sugerenciaForm").addEventListener("submit", async (e) => {
            e.preventDefault();
            const datos = Object.fromEntries(new FormData(e.target));
            await addDoc(collection(db, "sugerencias"), datos);
            alert("Formulario enviado");
        });
    </script>
</section>

<Footer />
</body>